@import url('http://fonts.cdnfonts.com/css/montserrat');

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.form input {
    border-top: none;
    border-right: none;
    border-left: none;
}

.form-control:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#forgot-password {
    color: hsl(217, 10%, 50.8%);
    font-size: 13px;
}

#send-email-instruction {
    color: hsl(217, 10%, 50.8%);
    font-size: 13px;
}

#reset-sent {
    color: rgb(120, 125, 133);
    font-size: 11px;
}

.card-img-container {
    height: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img-container img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}