{% extends "base.html" %}
{% load static %}

{% block content %}
{% include 'partials/_navbar.html' %}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card p-3">
                <h2>Create Skill</h2>
                <form method="POST" enctype="multipart/form-data" class="mt-4">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="mb-3">
                        {{ form.title.label_tag }}
                        {{ form.title }}
                        {% for error in form.title.errors %}
                            <div class="text-danger small">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        {{ form.description.label_tag }}
                        {{ form.description }}
                        {% for error in form.description.errors %}
                            <div class="text-danger small">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        {{ form.subcategory.label_tag }}
                        {{ form.subcategory }}
                        {% for error in form.subcategory.errors %}
                            <div class="text-danger small">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        {{ form.availability_start.label_tag }}
                        {{ form.availability_start }}
                        {% for error in form.availability_start.errors %}
                            <div class="text-danger small">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        {{ form.availability_end.label_tag }}
                        {{ form.availability_end }}
                        {% for error in form.availability_end.errors %}
                            <div class="text-danger small">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        {{ form.image.label_tag }}
                        {{ form.image }}
                        {% for error in form.image.errors %}
                            <div class="text-danger small">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
