{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% block content %}
{% include 'partials/_navbar.html' %}
<div class="container mt-5">
    <div class="mb-3">
    {% include 'partials/_alert.html' %}
    </div>
    <h2>Skill Listings</h2>

    <!-- Search Bar -->
    <form method="get" class="d-flex mb-4">
        <input
            type="text"
            name="q"    
            class="form-control me-2"
            placeholder="Search skills by title or description"
            value="{{ query }}"
        />
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    <!-- Skill Listings -->
    <div class="row">
        {% if page_obj %}
            {% for skill in page_obj %}
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card h-100">
                    <div class="card-img-container">
                        {% if skill.image %}
                        <img src="{{ skill.image.url }}" class="card-img-top" alt="{{ skill.title }}">
                        {% else %}
                        <img src="{% static 'img/skill.jpg' %}" class="card-img-top" alt="{{ skill.title }}">
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ skill.title }}</h5>
                        <p class="card-text mb-0">{{ skill.description|truncatewords:20 }}</p>
                        <p class="card-text mb-0"><small class="text-muted">{{ skill.get_full_category }}</small></p>
                        <p class="card-text mb-0"><strong>Rating:</strong> {{ skill.average_rating }}</p>
                        <p class="card-text mb-0"><strong>Start Time:</strong> {{ skill.availability_start }}</p>
                        <p class="card-text mb-0"><strong>End Time:</strong> {{ skill.availability_end }}</p>
                        <p class="card-text mb-0"><strong>Created By:</strong> {{ skill.user.username }}</p>
                        <p class="card-text mb-0"><strong>Created At:</strong> {{ skill.created_at|timesince }} ago</p>
                        {% if request.user == skill.user %}
                        <div class="badge badge-secondary">You</div>
                        {% endif %}
                        <div class="mt-2">
                            <a href="{% url 'skill_reviews' skill.id %}" data-url="{% url 'skill_reviews' skill.id %}" class="btn btn-primary btn-sm">Reviews</a>
                            <a href="{% url 'send_message' skill.id %}" data-url="{% url 'send_message' skill.id %}" class="btn btn-primary btn-sm">Message</a>
                            {% if request.user != skill.user %}
                                {% if skill.id in skill_requests %}
                                    {% if skill_requests|dict_get:skill.id == "pending" %}
                                        <button class="btn btn-sm btn-outline-web-secondary" disabled>Pending</button>
                                    {% elif skill_requests|dict_get:skill.id == "approved" %}
                                        <button class="btn btn-sm btn-outline-web-secondary" disabled>Approved</button>
                                    {% elif skill_requests|dict_get:skill.id == "rejected" %}
                                        <button class="btn btn-sm btn-outline-web-secondary" disabled>Rejected</button>
                                    {% endif %}
                                {% else %}
                                    <a href="{% url 'send_skill_request' skill.id %}" class="btn btn-sm btn-primary">Request Skill</a>
                                {% endif %}
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p class="text-center w-100">No skill listings found matching your search.</p>
        {% endif %}
    </div>

    <!-- Pagination -->
    {% include 'partials/_pagination.html' %} 
</div>
{% endblock %}
